$kr : 'Pretendard';
$en : 'Montserrat';
$icon : bootstrap-icons;

$back-color : #1d1c20;
$backDark-color : #0d0d0d;

$text-color : #f5f6fa;
$textSub-color : #aaaeb1;

$deepBlue : #1261ff;
$blue : #3699ff;
$green : #1bc5bd;
$violet : #8950FC;
$light-yellow : #fed428;
$yellow : #ffa800;
$red : #f64e60;

// $deepBlue : #0073e9;
// $blue : #0086FF;
// $skyBlue : #3699ff;
// $green : #0bb7af;
// $violet : #702afb;
// $yellow : #ee9d01;
// $red : #f42a3f;

$max-width: 1180px;
$max-height: 1080px;
$lr-padding : 0 1rem;
$s-margin: 1rem;
$m-margin: 2rem;
$l-margin: 4rem;
$tst-duration : 0.3s;
