@import 'font.scss';
@import 'mixin.scss';
@import 'variables.scss';

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: $en, $kr, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	background-color: $back-color;
	color: $text-color;
	&.before-load, 
	&.open-nav {
        overflow: hidden;
    }
}

ul,
li {
	list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: $text-color;
	display: inline-block;
}

.link-tag {
	@include buttonStyle;
}

img {
	object-fit: cover;
}

h1,
h2 {
	text-transform: capitalize;
}

h1 {
	font-size: 2.2rem;
	line-height: 2.2rem;
}
h2 {
	font-size: 1.4rem;
	line-height: 1.4rem;
}
h3 {
	font-size: 1.3rem;
}
h4 {
	font-size: 1.1rem;
}
h5 {
	font-size: 0.9rem;
}

.en {
	font-family: $en , sans-serif;
}

.before-load {
    .loading {
        opacity: 1;
    }
}

.loading {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 100;
    background-color: $back-color;
    transition: $tst-duration;
    opacity:0;
    @include flexcenter;
}

.loading-circle {
    width:56px;
    height:56px;
    animation: loadingSpin 3s infinite;
    circle {
        fill: transparent;
        stroke: $violet;
        stroke-width: 6;
        stroke-dasharray: 157;
        stroke-dashoffset: 0;
        animation: loadingAnimation 1s infinite;
    }
}

@keyframes loadingSpin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingAnimation{
    0% {
        stroke-dashoffset: 157;
    }
    75% {
        stroke-dashoffset: -117;
    }
    100% {
        stroke-dashoffset: -157;
    }
}

nav, header {
    width:100%;
	height:50px;
    padding:$lr-padding;
    position:fixed;
    top:-50px;
    left:0;
    background-color: rgba(26,32,38,0.1);
	backdrop-filter: saturate(180%) blur(15px);
	transition: top $tst-duration;
	z-index: 10;
}

nav {
	top:0px;
	z-index: 11;
	ul {
		width:100%;
		height:100%;
		@include flexbetween;
		li {
			text-transform:uppercase;
			font-weight: 200;
			font-size: 0.8rem;
		}
	}
}

header {
	@include flexbetween;
}

main {
	width:100%;
	height:100svh;
	background-color: $backDark-color;
    @include flexcenter;
	overflow: hidden;
	>div {
		width:100%;
		height:calc(100% - 100px);
		padding: $lr-padding;
		max-height: $max-height;
		overflow: hidden;
		@include flexcenter;
	}
}

section {
	width:100%;
	padding: 5rem 1rem;
	> h1:first-child {
		margin-bottom:3rem;
		text-align: center;
	}
}

#about {
	// background-color: $backDark-color;
	h1 span {
		font-size: 1.6rem;
		font-weight: 200;
	}
	.about-img {
		width:100%;
		max-width:$max-width;
		border-radius:10px;
		margin-bottom:$m-margin;
		height: 30rem;
		object-position: top;
	}
	.about-text  {
		p {
			line-height: 1.6rem;
			margin-bottom:$s-margin;
		}
		& > p:last-child {
			margin-bottom:0;
		}
	}
	.about-card {
		margin-bottom:$m-margin;
		small {
			color: $violet;
		}
		h4 {
			padding:0.4rem 0;
			span {
				font-weight: lighter;
				font-size: 1rem;
			}
		}
		p {
			color: $textSub-color;
		}
	}
	&>:last-child {
		margin-bottom:0;
	}
}

#work {
	position:relative;
	-webkit-tap-highlight-color: transparent;
	.work-card {
		width:100%;
		margin-bottom:$l-margin;
		cursor: pointer;
		h4 {
			padding:0.4rem 0;
		}
		h5 {
			color:$textSub-color;
			font-weight: 500;
			margin-bottom:$s-margin;
		}
	}
	.thumbnail {
		width:100%;
		height:260px;
		@include flexcenter;
		border-radius: 2rem;
		overflow: hidden;
		margin-bottom:$s-margin;
		img{
			height:100%;
		}
	}
	>:nth-child(2) .thumbnail{
		background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	}
	>:nth-child(3) .thumbnail{
		background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
	}
	>:nth-child(4) .thumbnail{
		background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
	}
	>:nth-child(5) .thumbnail{
		background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
	}
	>:nth-child(6) .thumbnail{
		background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
	}
	>:nth-child(7) .thumbnail{
		background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
	}
	>:nth-child(8) .thumbnail{
		background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
	}
	.keyword {
		display: inline-flex;
		border: 2px solid transparent;
		border-radius: 15px;
		background-origin: border-box;
		background-clip: content-box, border-box;
		margin-bottom:0.3rem;
		small {
			font-weight: 600;
			padding:0.2rem 1rem;
			display: inline-flex;
		}
	}
	>:nth-child(2) .keyword{
		background-image: linear-gradient($backDark-color, $backDark-color), linear-gradient(135deg, #667eea 0%, #764ba2 100%);
		small {
			background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	>:nth-child(3) .keyword{
		background-image: linear-gradient($backDark-color, $backDark-color), linear-gradient(180deg, #2af598 0%, #009efd 100%);
		small {
			background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	>:nth-child(4) .keyword{
		background-image: linear-gradient($backDark-color, $backDark-color), linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
		small {
			background: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	>:nth-child(5) .keyword{
		background-image: linear-gradient($backDark-color, $backDark-color), linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
		small {
			background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	>:nth-child(6) .keyword{
		background-image: linear-gradient($backDark-color, $backDark-color), linear-gradient(to top, #ff0844 0%, #ffb199 100%);
		small {
			background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	>:nth-child(7) .keyword{
		background-image: linear-gradient($backDark-color, $backDark-color), linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
		small {
			background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	>:nth-child(8) .keyword{
		background-image: linear-gradient($backDark-color, $backDark-color), linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
		small {
			background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	div:last-of-type  {
		margin-bottom:0;
	}
}

.work-background {
	width:100%;
	height:100%;
	position:absolute;
	background-color:$backDark-color;
	left:0;
	bottom:0;
	z-index: -10;
	pointer-events: none;
	transition:none;
	transform: translate3d(0, 100%, 0);
}

.work-background.scroll-on {
	position:fixed;
	transition: transform $tst-duration;
}

.not-scroll {
	overflow: hidden;
}

#modal {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.8);
	z-index: -10;
	opacity:0;
	transition: opacity $tst-duration;
	&.modal-show {
		opacity: 1;
		z-index: 20;
		transition: all $tst-duration;
		.modal-container {
			opacity:1;
			transform: translate(-50%, -50%);
			transition: all $tst-duration;
		}
	}
	&.modal-hide {
		opacity: 0;
		z-index: -10;
		transition: all $tst-duration;
		.modal-container {
			opacity:0;
			transform: translate(-50%, -40%);
			transition: all $tst-duration;
		}
	}
}
.modal-container {
	width:calc(100% - 2rem);
	height:100%;
	max-height:calc(100svh - 6rem);
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50% , -40%);
	background-color: $back-color;
	border:1px solid $textSub-color;
	border-radius: 1rem;
	padding:1rem;
	opacity:0;
	.modal-head {
		margin-bottom: $s-margin;
		text-align: right;
		i {
			font-size: 1.2rem;
			line-height: 1.2rem;
		}
	}
	.modal-body {
		display: none;
		width:100%;
		height:calc(100% - 2.2rem);
		overflow: auto;
	}
}

.content {
	display: none;
}

#contact {
	h1 {
		margin-bottom:0.5rem;
		text-align: left;
	}
	h2 {
		margin-bottom: $m-margin;
		font-weight: 300;
	}
	.contact-card {
		margin-bottom:$s-margin;
		h5 {
			margin-bottom:0.2rem;
			font-weight: 200;
			color: $textSub-color;
		}
	}
}