@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap");
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope", "Pretendard", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #2f3640;
  color: #dfe4ea;
}
body.before-load, body.open-nav {
  overflow: hidden;
}

ul,
li {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #dfe4ea;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2 {
  text-transform: capitalize;
}

h1 {
  font-size: 3.3rem;
  line-height: 3.3rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

.before-load .loading {
  opacity: 1;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: #2f3640;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-circle {
  width: 56px;
  height: 56px;
  -webkit-animation: loadingSpin 3s infinite;
          animation: loadingSpin 3s infinite;
}
.loading-circle circle {
  fill: transparent;
  stroke: #1bc5bd;
  stroke-width: 6;
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  -webkit-animation: loadingAnimation 1s infinite;
          animation: loadingAnimation 1s infinite;
}

@-webkit-keyframes loadingSpin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingSpin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loadingAnimation {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -117;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
@keyframes loadingAnimation {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -117;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
header {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(47, 54, 64, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
          backdrop-filter: saturate(180%) blur(15px);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h3 {
  letter-spacing: -0.3px;
}

.nav-btn {
  display: block;
  width: 24px;
}

.nav-btn span {
  position: relative;
  display: block;
}

.nav-btn span,
.nav-btn span:after,
.nav-btn span:before {
  width: 100%;
  height: 3px;
  background-color: #dfe4ea;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
}

.nav-btn span:after,
.nav-btn span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
}

.nav-btn span:after {
  top: 7px;
}

.top-nav {
  width: 0;
  height: 100dvh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1e272e;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}
.top-nav * {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.top-nav > :first-child {
  height: 50px;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-nav > :first-child .nav-btn span {
  background-color: transparent;
}
.top-nav > :first-child .nav-btn span:before {
  background-color: #dfe4ea;
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}
.top-nav > :first-child .nav-btn span:after {
  background-color: #dfe4ea;
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}
.top-nav .top-nav-links {
  height: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.top-nav .top-nav-links a {
  color: #dfe4ea;
  font-size: 2.2rem;
  text-transform: capitalize;
}

.open-nav .top-nav {
  width: 100%;
}
.open-nav .top-nav * {
  opacity: 1;
}

main {
  width: 100%;
  height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
main > div {
  width: 100%;
  height: calc(100% - 100px);
  max-height: 1080px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main > div img {
  width: 100%;
}

section {
  width: 100%;
  padding: 5rem 1rem;
}
section > h1:first-child {
  margin-bottom: 2rem;
}

#about h1 span {
  font-size: 1.6rem;
  font-weight: 200;
}
#about .about-main-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#career {
  background-color: #1e272e;
}
#career .career-card {
  margin-bottom: 2rem;
}
#career .career-card h3 {
  padding: 0.2rem 0;
}
#career .career-card h3 span {
  font-weight: lighter;
  font-size: 1rem;
}
#career .career-card p {
  color: #a4b0be;
}
#career > :last-child {
  margin-bottom: 0;
}

#portfolio {
  position: relative;
}
#portfolio .portfolio-card {
  width: 100%;
  margin-bottom: 4rem;
}
#portfolio .portfolio-card h4 {
  padding: 0.2rem 0;
}
#portfolio .portfolio-card h5 {
  color: #a4b0be;
  font-weight: 500;
  margin-bottom: 0.6rem;
}
#portfolio .thumbnail {
  width: 100%;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
#portfolio .thumbnail img {
  height: 100%;
}
#portfolio > :nth-child(2) .thumbnail {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
#portfolio > :nth-child(3) .thumbnail {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2af598), to(#009efd));
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
#portfolio > :nth-child(4) .thumbnail {
  background-image: -webkit-gradient(linear, left top, right top, from(#b8cbb8), color-stop(0%, #b8cbb8), color-stop(0%, #b465da), color-stop(33%, #cf6cc9), color-stop(66%, #ee609c), to(#ee609c));
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
#portfolio > :nth-child(5) .thumbnail {
  background-image: -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
#portfolio > :nth-child(6) .thumbnail {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
#portfolio > :nth-child(7) .thumbnail {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#48c6ef), to(#6f86d6));
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
#portfolio > :nth-child(8) .thumbnail {
  background-image: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
#portfolio .keyword {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid transparent;
  border-radius: 15px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
#portfolio .keyword small {
  font-weight: 600;
  padding: 0.2rem 0.6rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#portfolio > :nth-child(2) .keyword {
  background-image: linear-gradient(#2f3640, #2f3640), linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
#portfolio > :nth-child(2) .keyword small {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#portfolio > :nth-child(3) .keyword {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2f3640), to(#2f3640)), -webkit-gradient(linear, left top, left bottom, from(#2af598), to(#009efd));
  background-image: linear-gradient(#2f3640, #2f3640), linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
#portfolio > :nth-child(3) .keyword small {
  background: -webkit-gradient(linear, left top, left bottom, from(#2af598), to(#009efd));
  background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#portfolio > :nth-child(4) .keyword {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e272e), to(#1e272e)), -webkit-gradient(linear, left top, right top, from(#b8cbb8), color-stop(0%, #b8cbb8), color-stop(0%, #b465da), color-stop(33%, #cf6cc9), color-stop(66%, #ee609c), to(#ee609c));
  background-image: linear-gradient(#1e272e, #1e272e), linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
#portfolio > :nth-child(4) .keyword small {
  background: -webkit-gradient(linear, left top, right top, from(#b8cbb8), color-stop(0%, #b8cbb8), color-stop(0%, #b465da), color-stop(33%, #cf6cc9), color-stop(66%, #ee609c), to(#ee609c));
  background: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#portfolio > :nth-child(5) .keyword {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e272e), to(#1e272e)), -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background-image: linear-gradient(#1e272e, #1e272e), linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
#portfolio > :nth-child(5) .keyword small {
  background: -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#portfolio > :nth-child(6) .keyword {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e272e), to(#1e272e)), -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background-image: linear-gradient(#1e272e, #1e272e), linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}
#portfolio > :nth-child(6) .keyword small {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#portfolio > :nth-child(7) .keyword {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e272e), to(#1e272e)), -webkit-gradient(linear, left bottom, left top, from(#48c6ef), to(#6f86d6));
  background-image: linear-gradient(#1e272e, #1e272e), linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
#portfolio > :nth-child(7) .keyword small {
  background: -webkit-gradient(linear, left bottom, left top, from(#48c6ef), to(#6f86d6));
  background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#portfolio > :nth-child(8) .keyword {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e272e), to(#1e272e)), -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
  background-image: linear-gradient(#1e272e, #1e272e), linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
#portfolio > :nth-child(8) .keyword small {
  background: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
  background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#portfolio div:last-of-type {
  margin-bottom: 0;
}

.portfolio-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1e272e;
  left: 0;
  bottom: 0;
  z-index: -10;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.portfolio-background.scroll-on {
  position: fixed;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#contact h1 {
  margin-bottom: 0.5rem;
}
#contact h2 {
  margin-bottom: 2rem;
  font-weight: 400;
}
#contact .contact-card {
  margin-bottom: 1rem;
}